.comment-enter-active
.comment-leave-active
  transition max-height 0.6s ease-in, opacity 0.3s ease 0.15s, background 0.3s ease 0.3s

.comment-enter
.comment-leave-to
  overflow hidden
  max-height 0
  opacity 0

.comment-enter-to
.comment-leave
  max-height 9999px
