.height-enter-active
.height-leave-active
  transition max-height 0.6s ease-in-out, opacity 0.3s ease 0.2s

.height-enter
.height-leave-to
  overflow hidden
  max-height 0
  opacity 0

.height-enter-to
.height-leave
  max-height 9999px
  max-height 100vh
