.sw-container
  width 100%

  &__content
    margin 0 auto
    max-width 1800px

    @media $max-xlg
      max-width 1560px

    @media $max-lg
      max-width 1320px

    @media $max-md-1
      max-width 1220px

    @media $max-md-2
      max-width 960px

    @media $max-md
      max-width 700px

    @media $max-md-3
      max-width none
      block-explode-padding()
