.layout-content
  flex 1 1 auto
  background $c-gray-5

  &__inner
    width 960px
    height 100%
    margin 0 auto
    display flex
    flex-direction column
    padding $space-3 $container-padding
    background $c-white

    @media $max-lg
      width 800px

    @media $max-md-1
      width 700px

    @media $max-md
      padding-bottom 0

    @media $max-md-3
      width auto
      padding-left 0
      padding-right 0
