.transition-height-enter-active
.transition-height-leave-active
.transition-height-group-enter-active
.transition-height-group-leave-active
  overflow hidden
  will-change opacity, height
  transition opacity $transition,
             height $transition,
             margin $transition,
             padding $transition,
             border-width $transition
