external-link()
  &:after
    content ''
    display inline-block
    margin-left 0.5rem
    margin-right 0.25rem
    width 0.75em
    height 0.75em
    background-repeat no-repeat
    background-image embedurl('./external-link.svg', 'utf-8')
    background-size cover
