//
// Placeholder items loading animation
//
placeholder-loading()
  position relative
  overflow hidden

  &::after
    animation placeholder-loading 1.5s infinite
    content ''
    position absolute
    width 200%
    height 300%
    left 0
    right 0
    top -100%
    transform translateX(-100%)
    z-index 1
    background linear-gradient(-45deg,
     transparent,
     rgba(255, 255, 255, 0.05) 40%,
     rgba(255, 255, 255, 0.3) 50%,
     rgba(255, 255, 255, 0.05) 60%,
     transparent)

@keyframes placeholder-loading
  to
    transform translateX(100%)
