.c-blue
.c-hover-blue:hover
  color $c-blue-1 !important

.c-dark-blue
.c-hover-dark-blue:hover
  color $c-blue-0 !important

.c-light-blue
.c-hover-light-blue:hover
  color $c-blue-2 !important

.c-green
.c-hover-green:hover
  color $c-green !important

.c-red
.c-hover-red:hover
  color $c-red !important

.c-orange
.c-hover-orange:hover
  color $c-orange !important

.c-brown
.c-hover-brown:hover
  color $c-brown !important

.c-grey
.c-hover-grey:hover
.c-gray
.c-hover-gray:hover
  color $c-gray-1 !important

.c-light-grey
.c-hover-light-grey:hover
.c-light-gray
.c-hover-light-gray:hover
  color $c-gray-5 !important

.c-icon-grey
.c-hover-icon-grey:hover
.c-icon-gray
.c-hover-icon-gray:hover
  color $c-gray-3 !important
