.formula
  .katex
  .katex-display
    margin 0

  &.size-small
    .MathJax
      font-size 1.5rem

  &.size-normal
    .MathJax
      font-size 2rem

  &.size-big
    .MathJax
      font-size 2.5rem
