.matrix-input
  margin-right 0 !important

  &__bracket
    &-left
      margin-right ($space-0 / 2) !important

    &-right
      margin-left ($space-0 / 2) !important

  &__row
    display flex
    margin-top $space-0

  &__input
    display block
    min-width 30px
    max-width 60px
    width 100%

    &:not(:last-child)
      margin-right $space-0
