.vectors-input
  &__row
    display flex

  &__placeholder
    text-align center
    padding 8px $space-2

  &__placeholder
  &__input
    display block
    min-width 30px
    max-width 60px
    width 100%

