$insta-image-width = 360
$insta-image-height = 250

reference-layout()
  margin-top $space-2

  .content-pane
    padding $space-2
    reference-vertical-rhythm()

  @media $min-md
    reference-vertical-rhythm($space-2)
